In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import seaborn as sns
%matplotlib inline

In [13]:
min_wage_df = pd.read_csv("min_wage.csv",encoding='cp1252')
min_wage_df = min_wage_df[min_wage_df['Year'] >= 1993]
min_wage_df

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
1350,1993,Alabama,0.00,0.00,4.25,7.61,4.25,7.61,144.50,...,0.00,0.00,0.00,0.00,NaN
1351,1993,Alaska,4.75,8.50,4.25,7.61,4.75,8.50,144.50,4.75,4.75,8.50,4.75,8.50,NaN
1352,1993,Arizona,0.00,0.00,4.25,7.61,4.25,7.61,144.50,...,0.00,0.00,0.00,0.00,NaN
1353,1993,Arkansas,3.65,6.53,4.25,7.61,4.25,7.61,144.50,3.65,3.65,6.53,3.65,6.53,NaN
1354,1993,California,4.25,7.61,4.25,7.61,4.25,7.61,144.50,4.25,4.25,7.61,4.25,7.61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2857,2020,Virginia,7.25,7.25,7.25,7.25,7.25,7.25,258.66,7.25[c],7.25,7.25,7.25,7.25,[c]
2858,2020,Washington,13.50,13.50,7.25,7.25,13.50,13.50,258.66,13.5,13.50,13.50,13.50,13.50,NaN
2859,2020,West Virginia,8.75,8.75,7.25,7.25,8.75,8.75,258.66,8.75,8.75,8.75,8.75,8.75,NaN
2860,2020,Wisconsin,7.25,7.25,7.25,7.25,7.25,7.25,258.66,7.25,7.25,7.25,7.25,7.25,NaN
2861,2020,Wyoming,5.15,5.15,7.25,7.25,7.25,7.25,258.66,5.15,5.15,5.15,5.15,5.15,NaN

In [14]:
us_state_to_abbrev = {"State" : {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}}
min_wage_df = min_wage_df.replace(us_state_to_abbrev)
min_wage_df

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
1350,1993,AL,0.00,0.00,4.25,7.61,4.25,7.61,144.50,...,0.00,0.00,0.00,0.00,NaN
1351,1993,AK,4.75,8.50,4.25,7.61,4.75,8.50,144.50,4.75,4.75,8.50,4.75,8.50,NaN
1352,1993,AZ,0.00,0.00,4.25,7.61,4.25,7.61,144.50,...,0.00,0.00,0.00,0.00,NaN
1353,1993,AR,3.65,6.53,4.25,7.61,4.25,7.61,144.50,3.65,3.65,6.53,3.65,6.53,NaN
1354,1993,CA,4.25,7.61,4.25,7.61,4.25,7.61,144.50,4.25,4.25,7.61,4.25,7.61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2857,2020,VA,7.25,7.25,7.25,7.25,7.25,7.25,258.66,7.25[c],7.25,7.25,7.25,7.25,[c]
2858,2020,WA,13.50,13.50,7.25,7.25,13.50,13.50,258.66,13.5,13.50,13.50,13.50,13.50,NaN
2859,2020,WV,8.75,8.75,7.25,7.25,8.75,8.75,258.66,8.75,8.75,8.75,8.75,8.75,NaN
2860,2020,WI,7.25,7.25,7.25,7.25,7.25,7.25,258.66,7.25,7.25,7.25,7.25,7.25,NaN
2861,2020,WY,5.15,5.15,7.25,7.25,7.25,7.25,258.66,5.15,5.15,5.15,5.15,5.15,NaN

In [15]:
min_wage_df.sort_values(['State','Year'])

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
1351,1993,AK,4.75,8.50,4.25,7.61,4.75,8.50,144.500,4.75,4.75,8.50,4.75,8.50,NaN
1405,1994,AK,4.75,8.29,4.25,7.42,4.75,8.29,148.200,4.75,4.75,8.29,4.75,8.29,NaN
1459,1995,AK,4.75,8.06,4.25,7.21,4.75,8.06,152.400,4.75,4.75,8.06,4.75,8.06,NaN
1513,1996,AK,4.75,7.83,4.25,7.01,4.75,7.83,156.900,4.75,4.75,7.83,4.75,7.83,NaN
1567,1997,AK,5.25,8.46,4.75,7.66,5.25,8.46,160.500,5.25,5.25,8.46,5.25,8.46,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2645,2016,WY,5.15,5.55,7.25,7.81,7.25,7.81,240.007,5.15,5.15,5.55,5.15,5.55,NaN
2699,2017,WY,5.15,5.43,7.25,7.65,7.25,7.65,245.120,5.15,5.15,5.43,5.15,5.43,NaN
2753,2018,WY,5.15,5.30,7.25,7.47,7.25,7.47,251.107,5.15,5.15,5.30,5.15,5.30,NaN
2807,2019,WY,5.15,5.21,7.25,7.34,7.25,7.34,255.657,5.15,5.15,5.21,5.15,5.21,NaN
2861,2020,WY,5.15,5.15,7.25,7.25,7.25,7.25,258.660,5.15,5.15,5.15,5.15,5.15,NaN