In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as pl
import seaborn as sns
%matplotlib inline

In [2]:
poli_df = pd.read_csv("1976-2020-house.csv")
poli_df = poli_df[poli_df['year'] >= 1993]
poli_df = poli_df[~poli_df['state_po'].isin(['DC'])]
poli_df

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,fusion_ticket
11083,1994,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,DON WOMACK,DEMOCRAT,False,TOTAL,50227,153767,False,20220331,False
11084,1994,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,SONNY CALLAHAN,REPUBLICAN,False,TOTAL,103431,153767,False,20220331,False
11085,1994,ALABAMA,AL,1,63,41,US HOUSE,1,GEN,False,False,WRITEIN,NaN,True,TOTAL,109,153767,False,20220331,False
11086,1994,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,False,False,BRIAN DOWLING,DEMOCRAT,False,TOTAL,44694,169213,False,20220331,False
11087,1994,ALABAMA,AL,1,63,41,US HOUSE,2,GEN,False,False,TERRY EVERETT,REPUBLICAN,False,TOTAL,124465,169213,False,20220331,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31098,2020,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,LYNNETTE GREY BULL,DEMOCRAT,False,TOTAL,66576,278503,False,20220331,False
31099,2020,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,OVERVOTES,NaN,False,TOTAL,1274,278503,False,20220331,False
31100,2020,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,RICHARD BRUBAKER,LIBERTARIAN,False,TOTAL,10154,278503,False,20220331,False
31101,2020,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,UNDERVOTES,NaN,False,TOTAL,6337,278503,False,20220331,False
31102,2020,WYOMING,WY,56,83,68,US HOUSE,0,GEN,False,False,WRITEIN,NaN,True,TOTAL,525,278503,False,20220331,False

In [5]:
tot_party_votes = poli_df.groupby(['state_po','year','party']).sum().reset_index()
tot_party_votes

,state_po,year,party,state_fips,state_cen,state_ic,district,special,writein,candidatevotes,totalvotes,unofficial,version,fusion_ticket
0,AK,1994,DEMOCRAT,2,94,81,0,0,0,68172,208240,0,20220331,0
1,AK,1994,GREEN,2,94,81,0,0,0,21277,208240,0,20220331,0
2,AK,1994,REPUBLICAN,2,94,81,0,0,0,118537,208240,0,20220331,0
3,AK,1996,ALASKAN INDEPENDENCE,2,94,81,0,0,0,5017,233700,0,20220331,0
4,AK,1996,DEMOCRAT,2,94,81,0,0,0,85114,233700,0,20220331,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3017,WY,2018,REPUBLICAN,56,83,68,0,0,0,127963,201245,0,20220331,0
3018,WY,2020,CONSTITUTION,56,83,68,0,0,0,7905,278503,0,20220331,0
3019,WY,2020,DEMOCRAT,56,83,68,0,0,0,66576,278503,0,20220331,0
3020,WY,2020,LIBERTARIAN,56,83,68,0,0,0,10154,278503,0,20220331,0
3021,WY,2020,REPUBLICAN,56,83,68,0,0,0,185732,278503,0,20220331,0

In [3]:
votes_by_party = poli_df.groupby(['state_po','year','party'])['candidatevotes'].sum().reset_index()
votes_by_party = votes_by_party[votes_by_party['party'] == 'REPUBLICAN']
#total_votes = poli_df.groupby(['state_po','year','party'])['totalvotes'].first().reset_index()
#votes_by_party['totalvotes'] = total_votes[total_votes['party'] == 'DEMOCRAT']['totalvotes']
#votes_by_party['prop_dem'] = votes_by_party['candidatevotes']/votes_by_party['totalvotes']
votes_by_party = votes_by_party.set_index(['state_po','year']).drop(columns=['party'])
votes_by_party

               candidatevotes
state_po year
AK       1994          118537
         1996          138834
         1998          139676
         2000          190862
         2002          169685
...                       ...
WY       2012          166452
         2014          113038
         2016          156176
         2018          127963
         2020          185732

[698 rows x 1 columns]

In [177]:
total_votes = poli_df.groupby(['state_po','year','district'])['totalvotes'].first().reset_index()
total_votes = total_votes.groupby(['state_po','year'])['totalvotes'].sum().reset_index()
total_votes = total_votes.set_index(['state_po','year'])
total_votes

               totalvotes
state_po year
AK       1994      208240
         1996      233700
         1998      223300
         2000      274393
         2002      227725
...                   ...
WY       2012      250700
         2014      171153
         2016      258788
         2018      201245
         2020      278503

[700 rows x 1 columns]

In [179]:
for val in total_votes.index:
    if val not in votes_by_party.index:
        print(val)

('VT', 2008)
('VT', 2016)

In [180]:
poli_df.loc[(poli_df['state_po'] == 'MN') & (poli_df['year'].isin([1992])) & (poli_df['party'].isin(["INDEPENDENT-REPUBLICAN"])),'party'] = "REPUBLICAN"

In [181]:
poli_df.loc[(poli_df['state_po'] == 'HI') & (poli_df['year'].isin([1982])),:]['party'].unique()
poli_df.loc[(poli_df['state_po'] == 'DC') & (poli_df['year'].isin([2020])),:]['party'].unique()
poli_df.loc[(poli_df['state_po'] == 'VT') & (poli_df['year'].isin([2008,2016])),:]['party'].unique()

array(['INDEPENDENT', 'LIBERTY UNION', 'ENERGY INDEPENDENCE', 'DEMOCRAT',
       'PROGRESSIVE', nan], dtype=object)

In [182]:
merged_df = total_votes.merge(votes_by_party, left_index=True, right_index=True, how="left")
merged_df['candidatevotes'] = merged_df['candidatevotes'].fillna(0)
merged_df['prop_rep_votes'] = merged_df['candidatevotes']/merged_df['totalvotes']
merged_df

               totalvotes  candidatevotes  prop_rep_votes
state_po year
AK       1994      208240        118537.0        0.569233
         1996      233700        138834.0        0.594069
         1998      223300        139676.0        0.625508
         2000      274393        190862.0        0.695579
         2002      227725        169685.0        0.745131
...                   ...             ...             ...
WY       2012      250700        166452.0        0.663949
         2014      171153        113038.0        0.660450
         2016      258788        156176.0        0.603490
         2018      201245        127963.0        0.635857
         2020      278503        185732.0        0.666894

[700 rows x 3 columns]

In [165]:
no_index_merged_df = merged_df.reset_index()
for state in no_index_merged_df['state_po'].unique():
    for year in np.arange(1995,2020,2):
#         print(state,year)
#         print(no_index_merged_df.loc[
#             (no_index_merged_df['state_po'] == state) & (no_index_merged_df['year'] == year-1),:].iloc[0])
#         print(no_index_merged_df.loc[0,:])
        try:
            no_index_merged_df.loc[no_index_merged_df.index.max()+1,:] = no_index_merged_df.loc[
                (no_index_merged_df['state_po'] == state) & (no_index_merged_df['year'] == year-1),:].iloc[0]
            #print(no_index_merged_df.loc[no_index_merged_df.index.max(),:]['year'])
            no_index_merged_df.loc[no_index_merged_df.index.max(),'year']=year
        except:
            #print('oops')
            print(state,year)
no_index_merged_df

     state_po    year  totalvotes  candidatevotes  prop_rep_votes
0          AK  1994.0    208240.0        118537.0        0.569233
1          AK  1996.0    233700.0        138834.0        0.594069
2          AK  1998.0    223300.0        139676.0        0.625508
3          AK  2000.0    274393.0        190862.0        0.695579
4          AK  2002.0    227725.0        169685.0        0.745131
...       ...     ...         ...             ...             ...
1345       WY  2011.0    190822.0        131661.0        0.689968
1346       WY  2013.0    250700.0        166452.0        0.663949
1347       WY  2015.0    171153.0        113038.0        0.660450
1348       WY  2017.0    258788.0        156176.0        0.603490
1349       WY  2019.0    201245.0        127963.0        0.635857

[1350 rows x 5 columns]